main {
    display: grid;
    place-items: center;
    margin-top: 380px;
}

h1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-weight: bold;
    margin: -160px 20px 0 20px;
}

.header {
    font-size: 100px;
}

.title {
    color: rgb(176, 133, 226);
}

p {
    text-align: center;
    margin: 5px 20px 5px 20px;
    font-size: 1.4em;
}

.link {
    color: rgb(176, 133, 226)
}

.link:hover {
    color: rgb(132, 64, 209)
}