.button {
    padding: 10px;
    background-color: #000000;
    color: white;
    border-radius: 30px;
    border: none;
    margin: 15px 0;
    font-size: 1.1rem;
  }

  .button:hover {
    background-color: rgb(176, 133, 226);
}