table {
    border: 1px solid;
    border-collapse: collapse;
    padding: 2px;
}

th,
td {
    border: 1px solid;
    padding: 3px 10px 3px 10px;
}

.button {
    padding: 10px;
    background-color: #000000;
    color: white;
    border-radius: 30px;
    border: none;
    font-size: 1.1rem;
    margin-bottom: 10px;
}

.button:hover {
    background-color: rgb(176, 133, 226);
}

.centered {
    text-align: center;
}
